.venv/
.venv-1/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

dataset/*.csv
dataset/images/
dataset/MMFakeBench_test/
dataset/MMFakeBench_val/
outputs/indexes/
outputs/predictions/
checkpoints/
retrieval/index.faiss
retrieval/metadata.json
out.txt
dataset/images.zip
mini_dataset/
mini_dataset_test/

.DS_Store
Thumbs.db
